 <div class="admin" *ngIf="this.auth.blogin">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " href="#">Welcome Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      ss
        <!--Second link-->

        <!-- Large modal -->
        <button type="button focus-false" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg"
          style="  background-color: transparent; border-color: transparent;">Employees</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalScrollableTitle">Employee List</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <table class="table table-bordered table-hover mt-3">
                <thead class="thead-dark bg-secondary">
                  <tr>
                    <th>Employee number</th>
                    <!--requestid-->
                    <th>Designation</th>
                    <th>Employee Name</th>
                    <!--asset name-->
                    <th>Hire Date</th>
                    <!--asset description-->
                    <th>Manager</th>
                    

                  </tr>
                </thead>

                <!-- request_id: 5
asset_id: 0
asset_name: "laptop"
userid: 1
quantity: 12
asset_desc: "coding"
emp_no: 1
department: "cs" -->
                <tbody>
                  <!-- | filter : search; index as i -->
                  <tr *ngFor='let request of requests'>


                    <td>{{request.request_id}}</td>
                    <td>{{request.asset_id}}</td>
                    <td>{{request.asset_name}}</td>
                    <td>{{request.asset_desc}}</td>
                    <td>{{request.userid}}</td>
                    <td>{{request.department}}</td>
                    <td>{{request.quantity}}</td>
                    <td><button type="button" class="btn btn-success" (click)="selectRequest(request)">
                        Allocate</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="unselectRequest(request)">
                        Reject</button></td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-body">

              </div>
              <!-- <div class="modal-footer mt-5">
          <div class="form-group row  text-center">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
      </div> -->
            </div>
          </div>
        </div>
        <!--Second Modal-->

        <li class="nav-item active">
          <!-- Add asset Modal -->
          <a class="nav-link" routerLink="/addemployee">Add Employee </a>

        </li>


        <li class="nav-item active">
          <!-- Add asset Modal -->
          <a class="nav-link" routerLink="/addasset">Add Asset </a>

        </li>

        <li class="nav-item active">
            <!-- Add asset Modal -->
            <a class="nav-link" routerLink="/viewasset">View Asset </a>
  
          </li>
      </ul>
      <button type="link" class="btn btn-dark pull-right navbar-header" (click)='logout()'>
        Logout
      </button>
    </div>
  </nav>


  <!-- 
<h2 class="text-center mt-5" >View Assets</h2>
<div class="input-group mb-5 col-md-6 offset-3 mt-5 input-group-outline-success"  >
  <input type="text" class="form-control " placeholder="Enter an employee no" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
  </div>
</div> -->

  <!-- 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
      <tr>
          <th>Index</th>
          <th>Asset Name</th>
          <th>Asset Description</th>
          <th>Employee no</th>
          <th>Department</th>
          <th>Quantity</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let asset of  | filter : search; index as i'>
          <td>{{i + 1}}</td>
          <td>{{asset.name}}</td>
          <td>{{asset.description}}</td>
          <td>{{asset.employ}}</td>
          <td>{{student.company}}</td>
      </tr>
  </tbody>
</table>
body  -->










  <div class="container">

    <h3 class=" mt-4" id="exampleModalScrollableTitle">Requested Assets</h3>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->

    <table class="table table-bordered table-hover mt-5">
      <thead class="thead-primary bg-info mt-4">
        <tr>
          <th>Request Id</th>
          <!--requestid-->
          <th>Asset ID</th>
          <th>Name</th>
          <!--asset name-->
          <th>Description</th>
          <!--asset description-->
          <th>User</th>
          <!--user id-->
          <th>Department</th>
          <th>Quantity</th>
          <th>Employee Number</th>
          <th>Allocate</th>
          <th>Reject</th>

        </tr>
      </thead>


      <tbody>
      
        <tr *ngFor='let request of requests'>


          <td>{{request.request_id}}</td>
          <td>{{request.asset_id}}</td>
          <td>{{request.asset_name}}</td>
          <td>{{request.asset_desc}}</td>
          <td>{{request.userid}}</td>
          <td>{{request.department}}</td>
          <td>{{request.quantity}}</td>
          <td>{{request.emp_no}}</td>
          <td><button type="button" class="btn btn-success" (click)="selectRequest(request)">
              Allocate</button></td>
          <td><button type="button" class="btn btn-danger">
              Reject</button></td>
        </tr>
      </tbody>
    </table>
 
</div>
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })


</script>

<style>
  .navbar-header {
    margin-left: 50%;
  }

  .btn:on-hover {
    outline: none;
    color: inherit;
    background-color: none !important;
  }

  .btn:click {
    outline: none;
    background-color: transparent;
    border-color: transparent;
  }

  .btn::after {
    outline: none;
    background-color: transparent;
    border-color: transparent;
  }

  .btn::after-hover {
    outline: none;
    background-color: transparent;
    border-color: transparent;
  }
</style>