<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.MyFirstServlet</servlet-class>
    <init-param>
      <param-name>batch-name</param-name>
      <param-value>TYSS</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>formServlet</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.FormServlet</servlet-class>
    <init-param>
      <param-name>batch-name</param-name>
      <param-value>TYSS</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>formServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>company-name</param-name>
    <param-value>TYSS</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forward</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.ForwordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>include</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>include</servlet-name>
    <url-pattern>/include</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formforward</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.FormForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formforward</servlet-name>
    <url-pattern>/formforward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createcookie</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.CreateCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createcookie</servlet-name>
    <url-pattern>/createcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readCookie</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readCookie</servlet-name>
    <url-pattern>/readcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setcontextAttribute</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.SetContextAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setcontextAttribute</servlet-name>
    <url-pattern>/set-context</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getcontextAttribute</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.GetContextAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcontextAttribute</servlet-name>
    <url-pattern>/get-context</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>com.testyantra.webapp.servlets.DeleteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/deletecookie</url-pattern>
  </servlet-mapping>
</web-app>